@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*FONTE*/

:root{
  --cinzaPrincipal:#DDD4DB;  
  --azulPrincipal: #212E5D;
  --vermelhoPrincipal: #943e49;
}
body{
    background-color: var(--cinzaPrincipal);
    margin:0 auto;
    font-family: "Nova Square", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*HEADER*/
header{
    margin: 2rem 0rem;
}
.logo{
    text-align: center;
}

/*MAIN*/
main{
    margin: 0 auto;
    
}
.tituloPrincipal{
    text-align: center;
}
.subtitulo{
    margin: 2rem 1rem;
    text-align: justify;
    font-size: 1.3rem;
}
/*Bloco dos sabores e quantidade*/
.boxTitulos{
    display: flex;
    justify-content: space-around;
}

.container{
    display: flex;
    justify-content: space-between;
}
.titulos{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.geladoesBox p{
    font-size: 1.5rem;
}

/*Inputs*/

.inputSabores{
    width: 80%;
    height: 1.8rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.3rem;
    outline-color:var(--azulPrincipal);
}
/*Botões*/
.buttonContagem{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border: 0;
    height: 1.75rem;
    width: 2.5rem;
    border-radius: 0.3rem;
    background-color: var(--azulPrincipal);
    cursor: pointer;
}
.btnReset{
    background: none;
    border: none;
    cursor: pointer;
}
.btnDelete{
    background: none;
    border: none;
    cursor: pointer;
}

/*Parte do contador*/
.contador{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.grupoContador{
    display: flex;
    
    width: 250px;
    align-items: center;
    
    
}


.box{ 
    width: 100%;
}
.boxInput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.addGeladao{
    display: flex;
    justify-content: flex-end;
    
}

/*Footer*/
footer{
    border-top: 1px solid var(--azulPrincipal);
    text-align: center;
    padding: 1rem;
}

footer a{
    text-decoration: none;
    color: var(--vermelhoPrincipal);
}